* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 2px solid black;
    background-color: seagreen;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    margin: 0 auto;
}

button:hover {
    opacity: 0.5;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;

}

.cell {
    aspect-ratio: 1;
    border: 2px solid burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}